<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.95, shrink-to-fit=yes" />
        <meta name="description" content="FREELIMS your one-stop laboratory software. If you have any questions please contact Kylesmartin98@gmail.com" />
        <meta name="author" content="Kyle Martin" />
        <title>FreeLIMS</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/Style.css" rel="stylesheet" />
        <!--second css page-->
        <!--link href="css/styles2.css" rel="stylesheet" /-->
    </head>
    <body>
        <div class="Top"> <!--Topline Div/-->
            <div class="Top-display-left"> <!--Clock Div left justified-->
                <div id="clock">
                </div>
            </div>
            <div class="Top-display-center"> <!--Freelims header Center-->
                <header>
                    FreeLIMS
                </header>
            </div>
            <div class="Top-display-right"> <!--Sign out button-->
                <button class="SignOut-btn">
                    <span> Sign Out </span>
                </button>
            </div>
        </div>
    </body>
</html>