<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.95, shrink-to-fit=yes" />
  <meta name="description" content="GlobaLIMS your one-stop laboratory software. If you have any questions please contact Kylesmartin98@gmail.com" />
  <meta name="author" content="Kyle Martin, kylesmartin98@gmail.com" />
  <title>{{page_title}}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'FreeLims/Style.css' %}">
  <link rel="icon"  href="{% static 'FreeLims/LIMA_small_logo.png' %}">
</head>
<body>

<div>
  <div>
    <h1>Lima Documentation</h1>
    <h2>Table Of Contents</h2></div>
  <ul class="settings-ul">
      <li class="settings-ul-li">
        <input type="checkbox" id="list-item-1" class="settings-checkbox">
          <label for="list-item-1" class="settings-label"><h2 style="display: inline-block;">1.0 Getting Started</h2></label>
        <ul class="documentation-ul">
          <li>
            <h3><a href="#1.1 About">1.1 About</a></h3>
          </li>
          <li>
            <h3><a href="#">1.2 Creating an Account</a></h3>
          </li>
          <li>
           <h3><a href="#">1.3 Logging In</a></h3>
          </li>
          <li>
            <h3><a href="#">1.4 Resetting Your Password</a></h3>
          </li>
        </ul>
      </li>
      <li class="settings-ul-li">
        <input type="checkbox" id="list-item-2" class="settings-checkbox">
          <label for="list-item-2" class="settings-label"><h2 style="display: inline-block;">2.0 Homepage</h2></label>
        <ul class="documentation-ul">
          <li>
            <h3><a href="#">2.1 Top Section Layout</a></h3>
            <ul>
              <li>
                <h4><a href="#">2.1.1 User's Name</a></h4>
              </li>
              <li>
                <h4><a href="#">2.1.2 Refresh Button</a></h4>
              </li>
              <li>
                <h4><a href="#">2.1.3 Sign Out</a></h4>
              </li>
            </ul>
          </li>
          <li>
            <h3><a href="#">2.2 Middle Section</a></h3>
            <ul>
              <li><h4><a href="#">2.2.1 Left Module</a></h4>
                <ul>
                  <li><h4><a href="#">2.2.1.1 Sample Log In</a></h4></li>
                  <li><h4><a href="#">2.2.1.2 Testing Initiation</a></h4></li>
                  <li><h4><a href="#">2.2.1.3 Result Reporting</a></h4></li>
                  <li><h4><a href="#">2.2.1.4 Result Trending (Development)</a></h4></li>
                  <li><h4><a href="#">2.2.1.5 Chemical Inventory</a></h4></li>
                  <li><h4><a href="#">2.2.1.6 Instrument Management</a></h4></li>
                </ul>
              </li>
              <li><h4><a href="#">2.2.2 Center Module</a></h4>
                <ul>
                  <li><h4><a href="#">2.2.2.1 Quick Search</a></h4></li>
                  <li><h4><a href="#">2.2.2.2 Quick Search Table</a></h4></li>
                </ul>
              </li>
              <li><h4><a href="#">2.2.3 Right Module</a></h4>
                <ul>
                  <li><h4><a href="#">2.2.3.1 Settings</a></h4>
                    <ul>
                      <li><h4><a href="#">2.2.3.1.1 Update Personal Information</a></h4></li>
                      <li><h4><a href="#">2.2.3.1.2 Change Password</a></h4></li>
                      <li><h4><a href="#">2.2.3.1.3 Request Secret Key</a></h4></li>
                      <li><h4><a href="#">2.2.3.1.4 Report a Problem</a></h4></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
           <h3><a href="#">2.2.4 Bottom Section</a></h3>
            <ul>
              <li><h4><a href="#">2.2.4.1 Sample Notification</a></h4></li>
              <li><h4><a href="#">2.2.4.2 Reagent Notification</a></h4></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="settings-ul-li">
        <input type="checkbox" id="list-item-3" class="settings-checkbox">
        <label for="list-item-3" class="settings-label"><h2 style="display: inline-block;">3.0 Sample Workflow</h2></label>
          <ul class="documentation-ul">
            <li><h3><a href="#">3.1 Sample Initiation</a></h3>
              <ul>
                <li>
                  <h3><a href="#">3.1.1 Download Barcode</a></h3>
                </li>
              </ul>
            </li>
            <li><h3><a href="#">3.2 Testing Initiation</a></h3></li>
            <li><h3><a href="#">3.3 Result Reporting</a></h3>
              <ul>
                <li><h4><a href="#">3.3.1 Reviewing Results</a></h4>
                  <ul>
                    <li><h4><a href="#">3.3.1.1 Accepting Results</a></h4></li>
                    <li><h4><a href="#">3.3.1.2 Returning Results</a></h4></li>
                    <li><h4><a href="#">3.3.1.3 Returning Results to Analyst</a></h4></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
      </li>
      <li class="settings-ul-li">
        <input type="checkbox" id="list-item-4" class="settings-checkbox">
        <label for="list-item-4" class="settings-label"><h2 style="display: inline-block;">4.0 Chemical Inventory Workflow</h2></label>
        <ul class="documentation-ul">
          <li><h3><a href="#">4.1 Chemical Inventory Generation</a></h3>
            <ul>
              <li><h4><a href="#">4.1.1 Quarantine Reagent</a></h4></li>
            </ul>
          </li>
          <li><h3><a href="#">4.2 Open Reagent</a></h3></li>
          <li><h3><a href="#">4.3 Download Barcode</a></h3></li>
          <li><h3><a href="#">4.4 Dispose Reagent</a></h3></li>
        </ul>
      </li>
    </ul>
</div>
<div id="1.0 Getting Started">
  <h2>Getting Started</h2>
  <h3 id="1.1 About">1.1 About</h3>
  <p>Welcome to LIMa ( Lab Inventory Management application), this software is meant to more easily connect
    analysts to their environment and samples. LIMa is a powerful tool created by a former QC analyst for analysts, technicians, and leads.</p>
  <h3 id="1.2 Creating an Account">1.2 Creating an Account</h3>
  <p>If you are first accessing LIMa through your browser you will need to navigate the <strong>Sign up</strong> page via the link
  at the top right corner of the landing page.</p>
  <p>Once the Registration form has appeared you will need to input a valid:
    <ol>
      <li>Alpha-neumeric Username (LIMa suggests using a FirstNameLastNameEmployeeId structure)</li>
  <li>Organization (LIMa suggests using your corporate organization or location code and any unique alpha-neumeric characters)</li>
        <ul>
          <li> Each additional user added to an organization will need to input the same Organization as the initial user</li>
        </ul>
      </li>
      <li>Email</li>
      <li>Password (LIMa recommends an alpha-neumeric password of at least 8 characters and one special character)</li>
    </ol>
  Upon the completion of your registration, you will receive an email with information regarding your account.
  If you do not receive an email, you can change your email address as described in <a>section 2.2.3.1.1: Update Personal Information</a>.
  Additionally, you will need to request another Secret Key as described in <a>section 2.2.3.1.3: Request a Secret Key</a>.
  </p>
  <h3 id="1.3 Logging In">1.3 Logging In</h3>
  <p>In order to sign in to your account you will need to input the username and password you created at the time of signing up for a LIMa account.
    If you forget your password you can create a new one in accordance with <a>section 1.4: Resetting Your Password</a>.</p>
  <h3 id="1.4 Resetting Your Password">1.4 Resetting Your Password</h3>
  <p> If you have forgotten your password or your password is no longer valid to your account you may reset your password using the following link:
    <a>Link to Reset</a>. In order to reset your password you will need to use the secret key that was emailed to you when your account was registered. <strong>Without
      your secret key you will be unable to reset your password. </strong></p>
</div>
<div id="2.0 Homepage">
  <h2>Homepage</h2>
  <p> Once logged in to your account you will be redirected to the <strong>Homepage</strong>. This section will help you better understand your first access point to LIMa</p>
  <h3 id="2.1 Top Section Layout">2.1 Top Section Layout</h3>
  <p> The Top section is standardized across all access limited pages, although some variations are present between pages.</p>
  <h4 id="2.1.1 User's Name">2.1.1 User's Name</h4>
  <h4 id="2.1.2 User's Name">2.1.2 LIMa Logo</h4>
  <p> Users may choose to click the LIMa Logo in order to return to the homepage</p>
  <h4 id="2.1.3 Refresh Button"> 2.1.3 Refresh Button</h4>
  <p>The Refresh button will reload the Homepage and update any tables with new information. <u>When a User is not on the Homepage this button will become a Home button and
    redirect the current user to the Homepage</u>.</p>
  <h3 id="2.2 Middle Section Layout">2.2 Middle Section Layout</h3>
  <h4 id="2.2.1 Left Module">2.2.1 Left Module</h4>
  <div style="margin-left: 2.5%;">
    <h4 id="2.2.1.1 Sample Log In">2.2.1.1 Sample Log In</h4>
    <p>This link will take you to the sample log in page. Within this page users can create a new sample entry. Once a sample has been logged it cannot be changed or deleted.</p>
    <h4 id="2.2.1.2 Testing Initiation">2.2.1.2 Testing Initiation</h4>
    <p>This link will take you to the testing initiation page. Within this page users can assign a test method to a sample. Once a sample has been assigned a test method
    it cannot be changed or deleted.</p>
    <h4 id="2.2.1.3 Result Reporting">2.2.1.3 Result Reporting</h4>
    <h4 id="2.2.1.4 Result Trending">2.2.1.4 Result Trending</h4>
    <h4 id="2.2.1.5 Chemical Inventory">2.2.1.5 Chemical Inventory</h4>
    <h4 id="2.2.1.6 Instrument Management">2.2.1.6 Instrument Management</h4>
  </div>
  <h4 id="2.2.2 Middle Module">2.2.2 Middle Module</h4>
  <h4 id="2.2.3 Right Module">2.2.3 Right Module</h4>
</div>
</body>
</html>