{% extends 'FreeLims/homebase.html' %}
{% block content %}
        <div class="Main-Div"> <!--Main Div-->
            <div class="left-flex-container"> <!-- Left Navigation flexbox-->
                <a class="a-PageLink" href="{% url 'Sample' %}">
                    <button class="Nav-btn"> <!--Sample log-in-->
                        {% load static %}
                        <img src="{% static 'FreeLims/tube1.svg' %}" class="Icon-paper"/>
                        <span class="Btn-Text">Sample Log-In</span>
                    </button>
                </a>
                <a class="a-PageLink" href="{% url 'Testing' %}">
                    <button class="Nav-btn"> <!--Sample Testing Initiation-->
                        {% load static %}
                        <img src="{% static 'FreeLims/checkmark.svg' %}" class="Icon-paper"/>
                        <span class="Btn-Text">Testing Initiation</span>
                    </button>
                </a>
                <a class="a-PageLink" href="{% url 'Results' %}">
                    <button class="Nav-btn"> <!--Result Reporting-->
                        {% load static %}
                        <img src="{% static 'FreeLims/checklist.svg' %}" class="Icon-paper"/>
                        <span class="Btn-Text">Result Reporting</span>
                    </button>
                </a>
                <a class="a-PageLink" href="{% url 'Trending' %}">
                    <button class="Nav-btn"> <!-- Result Trending-->
                        <img src="{% static 'FreeLims/graph.svg' %}" class="Icon-paper"/>
                        <span class="Btn-Text">Result Trending</span>
                    </button>
                </a>
                <a class="a-PageLink" href="{% url 'Inventory' %}">
                    <button class="Nav-btn"> <!-- Chemical Inventory-->
                       <img src="{% static 'FreeLims/flask.svg' %}" class="Icon-paper"/>
                        <span class="Btn-Text">Chemical Inventory</span>
                    </button>
                </a>
                <a class="a-PageLink" href="{% url 'Method' %}">
                    <button class="Nav-btn"> <!-- Method look-up-->
                        <img src="{% static 'FreeLims/paper.svg' %}" class="Icon-paper"/>
                        <span class="Btn-Text">Method</span>
                    </button>
                </a>
            </div>
            <div class="center-flex-container"> <!--Notifications section-->
                <div class="Srch-Name"> <!--Search Title-->
                    <span class="Srch-Text">Quick Search</span>
                </div>
                <div> <!--Search bar -->
                    <div class="search-container">
                      <form action="/search" method="get">
                        <input class="search" id="searchleft" type="search" name="q" placeholder="Search">
                        <label class="button searchbutton" for="searchleft"><span class="mglass">&#9906;</span></label>
                      </form>
                    </div>
                </div> <!--REMINDER to add dynamic list-->
                <div> <!--Reminders + Past Due-->
                    <div> <!--Reminders-->

                    </div>
                    <div> <!--Past Due-->

                    </div>

                </div>
            </div>
            <div class="right-flex-container"> <!--Preferences-->
               <button class="Settings-btn"> <!--Settings-->
                   <img src="{% static 'FreeLims/settings.svg' %}" class="Settings-img"/>
                   <span class="Btn-Text">Settings</span>
               </button>
            </div>
        </div>
        {% load static %}
        <script src="{% static 'FreeLims/app.js' %}"></script>
{% endblock %}