{% extends 'FreeLims/base.html' %}
{% block content %}
<div class = "Table-attributes"> <!--Table attributes -->
    <div class="Search-span">
        <form method="get">
            <input type="submit" value="Search" class="sample-modal-btn-text-lg">
            {% csrf_token %}
            {{myfilter.form.lab_lot}}
            <a class="clear-btn" href="{% url 'Inventory' %}">&#8855</a>
        </form>

    </div>
    <div class="Table-attributes-Nav-list">
        <ul class="Table-attributes-ul">
            <li class = "Table-attributes-Nav-bar">
                <button class="sample-modal-btn">
                    <a href ="{% url 'Inventory_create' %}#addreagent" class="sample-submit-text">Add Reagent</a>
                </button>
            </li> <!--Add Sample -->
            <li class = "Table-attributes-Nav-bar">
                <button class="sample-modal-btn-text" type="submit" form="frmFoo" name="btn_dispose" value="dispose" onclick="!this.form && document.getElementById('disposeform').submit()">
                Dispose
                </button>
                <!--<button class="sample-modal-btn">
                    <a href ="#" class="sample-submit-text">Dispose</a>
                </button>-->
            </li>
            <!--<li class = "Table-attributes-Nav-bar">
                <input type="submit" value="Delete Sample" id="Delete_Sample" class="trigger">
            </li> -->
            <li class = "Table-attributes-Nav-bar">
                <button class="sample-modal-btn">
                    <a href ="{% url 'Inventory' %}" class="sample-submit-text">&#8855 Table Filter</a>
                </button>
            </li>
            <li class = "Table-attributes-Nav-bar">
                <button class="sample-modal-btn">
                    <a href ="{% url 'inventorycsv' %}" class="sample-submit-text">Download CSV</a>
                </button>
            </li>
            <li class = "Table-attributes-Nav-bar"> <!--DropDown for Nav-->
                <div class="nav-dropdown"> <!--Dropdown class-->
                    <button class="sample-modal-btn-text">Navigation</button> <!--Button to Activate dropdown-->
                    <div class="nav-dropdown-content"> <!--DropDown Content-->
                        <a href="{% url 'Sample' %}">Sample Log-In</a>
                        <a href="{% url 'Testing' %}">Testing Initiation</a>
                        <a href="{% url 'Results' %}">Result Reporting</a>
                        <a href="{% url 'Trending' %}">Result Trending</a>
                        <a href="{% url 'Method' %}">Method</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="table-container">
    <div class=“sample-tbl-container">
        <table class=“sample-table”>
            <thead>
            <tr bgcolor="#BACDDE">
              <th>
                  Name
                  <a href="#namefilter" class="filter-icon-link" >
                      {% load static %}
                      <img src="{% static 'FreeLims/filter.svg' %}" class="filter-icon"/>
                  </a>
              </th>
              <th>
                  Vendor
                  <a href="#descfilter" class="filter-icon-link" >
                      {% load static %}
                      <img src="{% static 'FreeLims/filter.svg' %}" class="filter-icon"/>
                  </a>
              </th>
              <th>Vendor Lot</th>
                <th>GlobaLIMS Lot</th>
              <th>Expiry</th>
              <th>Volume / Size</th>
                <th>Location</th>
                <th>quarantine?</th>
                <th>Logged By</th>
                <th>Logged Date</th>
                <th>Status</th>
                <th>Download Barcode</th>
                <th>Dispose</th>
            </tr>
          </thead>
        {% csrf_token %}
        {% for inventory in inventories %}
          <tbody>
            <tr>
                {% if inventory.inv_disposal == False %}
                <td>{{inventory.name}}</td>
                <td>{{inventory.manufacturer}}</td>
                <td>{{inventory.manufacturer_lot}}</td>
                <td>{{inventory.Lab_lot}}</td>
                <td>{{inventory.expiry|date:"y-m-d"}}</td>
                <td>{{inventory.volume_size}}</td>
                <td>{{inventory.location}}</td>
                <td>{{inventory.quarantine|yesno:"Yes,No"}}</td>
                <td>{{inventory.logged_by}}</td>
                <td>{{inventory.logged_date|date:"y-m-d"}}</td>
                {% if inventory.quarantine == True %}
                <td>
                    <button class="sample-initiation-btn">
                        <a class="sample-initiation-link" href="{% url 'Inventory_open' inventory.id %}#openreagent">Open</a>
                    </button>
                </td>
                {% else %}
                <td>{{inventory.open_container|yesno:"Open,Close"}}</td>
                {% endif %}
                {% if inventory.quarantine == False %}
                <td>
                    <button class="buttonDownload">
                        <a class="inventory-barcode-link" target="_blank" href="{% url 'Barcode_download' inventory.id %}" >Download</a>
                    </button>
                </td>
                {% else %}
                <td>
                    Unopened
                </td>
                {% endif %}
                <td>
                    <form id="disposeform" method="POST" action="">
                        {% csrf_token %}
                        <input type="checkbox" name="inputs" value="{{inventory.id}}">
                    </form>
                </td>
                {% endif %}
            </tr>
          </tbody>
        {% endfor %}
    </table>
  </div>
</div>

<div class="sample-submit-modal" id="samplesubmit">
    <div class="sample-submit-modal-content">
        <a href="" class="modal__close">Close</a>
        <span class="registration-header">Sample Log-In Form</span>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" Value="Add Sample" class="registration-submit">
            <input type="reset" value="Clear Input Fields" class="registration-submit">
        </form>
    </div>
</div>
<div class="sample-submit-modal-sm" id="namefilter">
    <div class="filter-content-modal-xs">
        <a href="" class="modal__close">Close</a>
        <span class="registration-header" style="margin-left:25px">Filter by Sample Name </span>
        <form action="" method="get">
            {% csrf_token %}
            {{myfilter.form.name}}
            <input type="submit" Value="Filter" class="registration-submit">
            <input type="reset" value="Clear Input Field" class="registration-submit">
        </form>
    </div>
</div>
<div class="reagent-submit-modal" id="addreagent">
    <div class="reagent-submit-modal-content">
        <a href="" class="modal__close">Close</a>
        <span class="registration-header" style="margin-left:25px">Reagent Submission Form </span>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="reagent-submit-left">
                {{form.name}}
                {{form.manufacturer}}
                {{form.manufacturer_lot}}
                <span class="reagent-span">Reagent Expiry</span>
                {{form.expiry}}
                {{qtyform.quantity}}
                <input type="reset" value="Clear Input Field" class="reagent-submit">
            </div>
            <div class="reagent-submit-right">
                {{form.volume_size}}
                {{form.location}}
                <span class="reagent-quarantine-span">Quarantine Reagent?</span>
                {{form.quarantine}}
                {{form.comments}}
                <input type="submit" Value="Submit" class="reagent-submit">
            </div>
        </form>
    </div>
</div>
<div class="reagent-submit-modal" id="disposereagent">
    <div class="reagent-submit-modal-content">
        <a href="{% url 'Inventory' %}" class="modal__close">Close</a>
        <span class="registration-header" style="margin-left:25px">Dispose Reagent</span>
    </div>
</div>
<div class="sample-submit-modal-sm" id="openreagent">
    <div class="filter-content-modal-xs" style="margin-top:18rem">
        <a href="{% url 'Inventory' %}" class="modal__close">Close</a>
        <span class="registration-header" style="margin-left:25px">Reagent Open </span>
        <form action="" method="POST">
            {% for inventory in inventories %}
                {% if inventory.quarantine == True %}
                {% csrf_token %}
                {{form.open_container}}
                {% endif %}
            {% endfor %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            <input type="reset" value="Clear Input Field" class="reagent-submit">
            <input type="submit" Value="Submit" class="reagent-submit">
        </form>
    </div>
</div>
{% load static %}
<script src="{% static 'FreeLims/app.js' %}"></script>


{% endblock %}