<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.95, shrink-to-fit=yes" />
    <link href="css/Style.css" rel="stylesheet" />
    <title>FreeLIMS Log In</title>
</head>
<body class="Background">
    <div class="Log-in-main-div"> <!--Center Container for log-in-->
        <form>
            <span class="Log-in-header">Username</span>
            <input type="text" placeholder="Username" class="Log-in-input" required>
            <span class="Log-in-header">Password</span>
            <input type="password" placeholder="Password" class="Log-in-input" id="pass" required>
            <span class="Log-in-header">Organization</span>
            <input type="text" placeholder="Organization" class="Log-in-input" required>
            <input type="submit" Value="Log-In" class="Log-in-btn">
        </form>
        <button class="register-btn"> <!--register-->
            <span>Register</span>
        </button>
        <div class="modal">
            <div class="modal-content">
                <form>
                    <span class="close-button">&times;</span>
                    <span class="registration-header">Create Account</span>
                    <span class="registration-desc">Username</span>
                    <input type="text" placeholder="Username" class="registration-input" required>
                    <span class="registration-desc">Organizational</span>
                    <input type="text" placeholder="Organization" class="registration-input" required>
                    <span class="registration-desc">Password</span>
                    <input type="password" placeholder="password" class="registration-input" required>
                    <span class="registration-desc">Verify Password</span>
                    <input type="password" placeholder="password" class="registration-input" required>
                    <input type="submit" Value="submit" class="registration-submit">
                </form>
            </div>
        </div>
        <a class="a-PageLink" href="Homepage.html">
            <button class="register-btn">
                <span> Try Without Registering</span>
            </button> <!--Proceed without Logging-In-->
        </a>
    </div>
    <script src="js/app.js"></script>
</body>

</html>