<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.95, shrink-to-fit=yes" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FreeLims/Style.css' %}">
    <link rel="icon"  href="{% static 'FreeLims/favicon.ico' %}">
    <title>LIMa-Log In</title>
</head>
<body class="Background">
    <img src="{% static 'FreeLims/LIMA_fulltextv4.png' %}" style="width: 400px; height: 100px; position: fixed; top: 10%;left: 49%;transform: translate(-50%, -50%);">
    <div class="Log-in-main-div"> <!--Center Container for log-in-->
        {% if messages %}
        {% for message in messages %}
        {% if 'info' in message.tags %}
        <div class="info-message">
            <p>{{message}}</p>
        </div>
        {% else %}
        {% endif %}
        {% if 'success' in message.tags %}
        <div class="success-message">
            <p>{{message}}</p>
        </div>
        {% else %}
        {% endif %}
        {% if 'invalidpassword' in message.tags %}
        <div class="error-message">
            <p>{{message}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if form.errors %}
        <div class="error-message">
            <p>{{form.errors}}</p>
        </div>
        {% else %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <span class="Log-in-header">Username</span>
            <input type="text" name="username1" placeholder="Username" class="Log-in-input" required>
            <span class="Log-in-header">Password</span>
            <input type="password" name="password1" placeholder="Password" class="Log-in-input" id="pass" required>
           <!-- <span class="Log-in-header">Organization</span>
            <input type="text" placeholder="Organization" class="Log-in-input">-->
            <input type="submit" Value="Sign In" name="login" class="Log-in-btn">
        </form>
        <a class="sample-initiation-link" href="#registermodal">
            <button class="register-btn" id="registerbtn">
                <span>Register</span>
            </button>
        </a>
        <a href="#changepassword" class="a-PageLink "><p style="color: #c8d8e4;font-family: karrikregular;">Forgot Your Password?</p></a>
        <div class="modal" id="registermodal" style="z-axis: 1;">
            <div class="modal-content">
                <a href="{% url 'login' %}" class="modal__close">Close</a>
                {% if messages %}
                {% for message in messages %}
                {% if 'success' in message.tags %}
                <div class="success-message" style="margin-top: 50px; margin-left: 1%;">
                    <p>{{message}}</p>
                </div>
                {% else %}
                {% endif %}
              {% if 'error' in message.tags %}
                <div class="error-message" style="margin-top: 50px; margin-left: 1%;">
                    <p>{{message}}</p>
                </div>
                {% else %}
                {% endif %}
                {% endfor %}
                {% else %}
                <form method="POST" action="" id="signupform">
                    {% csrf_token %}
                    <span class="registration-header">Create Account</span>
                    <span class="registration-desc">Username</span>
                    {{form.username}}
                    <span class="registration-desc">Organization</span>
                    {{form.organization}}
                    <span class="registration-desc">Email</span>
                    {{form.email}}
                    <span class="registration-desc">Password</span>
                    {{form.password1}}
                    {{form.password2}}
                    <input type="submit" Value="Sign Up" class="registration-submit" name="register">
                </form>
                {% endif %}
            </div>
        </div>
        <div class="modal" id="changepassword" style="z-axis: 1;">
            <div class="modal-content" style="margin-top: 25%">
                <a href="{% url 'login' %}" class="modal__close">Close</a>
                <form method="POST" action="{% url 'login' %}" id="changepasswordform">
                    <span class="registration-header">Change Password</span>
                    {% csrf_token %}
                    {{secretKeyForm}}
                    {{pass_form}}
                    <input type="submit" Value="Change Password" class="registration-submit" name="changepassword">
                </form>
            </div>
        </div>
    </div>
    <!--
    {% load static %}
    <script src="{% static 'FreeLims/app.js' %}"></script>
    -->
</body>

</html>