<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.95, shrink-to-fit=yes" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FreeLims/Style.css' %}">
    <title>FreeLIMS Log In</title>
</head>
<body class="Background">
    <div class="Log-in-main-div"> <!--Center Container for log-in-->
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <span class="Log-in-header">Username</span>
            <input type="text" name="username1" placeholder="Username" class="Log-in-input" required>
            <span class="Log-in-header">Password</span>
            <input type="password" name="password1" placeholder="Password" class="Log-in-input" id="pass" required>
            <span class="Log-in-header">Organization</span>
            <input type="text" placeholder="Organization" class="Log-in-input">
            <input type="submit" Value="Sign In" name="login" class="Log-in-btn">
        </form>
        <button class="register-btn" id="registerbtn"> <!--register-->
            <span>Register</span>
        </button>
        <div class="modal" id="registermodal">
            <div class="modal-content">
                <form method="POST" action="" id="signupform">
                    {% csrf_token %}
                    <span class="close-button">&times;</span>
                    <span class="registration-header">Create Account</span>
                    <span class="registration-desc">Username</span>
                    {{form.username}}
                    <span class="registration-desc">Organization</span>
                    {{form.organization}}
                    <span class="registration-desc">Email</span>
                    {{form.email}}
                    <span class="registration-desc">Password</span>
                    {{form.password1}}
                    {{form.password2}}
                    {{form.errors}}
                    <input type="submit" Value="Sign Up" class="registration-submit" name="register">
                </form>
            </div>
        </div>
        <a class="a-PageLink" href="{% url 'home' %}">
            <button class="register-btn">
                <span> Try Without Registering</span>
            </button> <!--Proceed without Logging-In-->
        </a>
    </div>
    {% load static %}
    <script src="{% static 'FreeLims/app.js' %}"></script>
</body>

</html>