<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="text-align: center;">
    <h1>GlobaLIMS</h1>
    <h1>Welcome! {{username}}</h1>
</div>
<p>Thank you for signing up for GlobaLIMS</p>
<p> Below is information regarding your Account</p>
<p>Your organization is: <strong>{{organization}}</strong></p>
<p>and your Secret Key is: <strong>{{secretKey}}</strong></p>
<p>Please keep this key in a secure location and never share it with anyone. This key will help you recover your account and change your password!</p>
</body>
</html>