{% extends 'FreeLims/base.html' %}
{% block content %}
{% load tz %}
<div class = "Table-attributes">
    <div class="Search-span">
        <form method="get">
            <input type="submit" value="Search" class="sample-modal-btn-text-lg">
            {% csrf_token %}
            {{myfilter.form.tracking}}
            <a class="clear-btn" href="{% url 'Sample' %}">&#8855</a>
        </form>
    </div>
    <div class="Table-attributes-Nav-list">
        <ul class="Table-attributes-ul">
            <li class = "Table-attributes-Nav-bar">
                <button class="sample-modal-btn">
                    <a href ="#samplesubmit" class="sample-submit-text">Add Sample</a>
                </button>
            </li>
            <li class = "Table-attributes-Nav-bar">
                <form action="{% url 'downloadsamplecsv' %}" method="post">
                {% csrf_token %}
                 <button type="submit" class="sample-modal-btn-text">Download CSV</button>
                 </form>
            </li>
            <li class = "Table-attributes-Nav-bar"> <!--DropDown for Nav-->
                <div class="nav-dropdown"> <!--Dropdown class-->
                    <button class="sample-modal-btn-text">Navigation</button> <!--Button to Activate dropdown-->
                    <div class="nav-dropdown-content"> <!--DropDown Content-->
                        <a href="{% url 'Testing' %}">Testing Initiation</a>
                        <a href="{% url 'Results' %}">Result Reporting</a>
                        <a href="{% url 'Trending' %}">Result Trending</a>
                        <a href="{% url 'Inventory' %}">Chemical Inventory</a>
                        <!--<a href="{% url 'Instrument' %}">Instrument Management</a>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="table-container">
    <div class="sample-tbl-container">
        <table class=“sample-table”>
            <thead>
            <tr bgcolor="#BACDDE">
              <th>Sample Name</th>
              <th>Description</th>
              <th>Tracking Number</th>
                <th>Volume / Size</th>
              <th>Type</th>
              <th>Expiry</th>
                <th>logged Date</th>
                <th>Logged By</th>
                <th>Download Barcode</th>
            </tr>
          </thead>

        {% csrf_token %}
        {% for sample in samples %}
          <tbody>
            <tr>

                <td>{{sample.sample_name}}</td>
                <td>{{sample.sample_description}}</td>
                <td>{{sample.tracking_number}}</td>
                <td>{{sample.sample_volume}}</td>
                <td>{{sample.sample_type}}</td>
                {% localtime on %}
                <td>{{sample.expiration_date|date:"Y-m-d"}}</td>
                <td>{{sample.logged_date|date:"Y-m-d"}}</td>
                {% endlocaltime %}
                <td>{{sample.logged_by}}</td>
                <td>
                    <button class="buttonDownload">
                        <a class="inventory-barcode-link" target="_blank" href="{% url 'sampleBarcode_download' sample.id %}" >Download</a>
                    </button>
                </td>
            </tr>
          </tbody>
        {% endfor %}
    </table>
  </div>
</div>
<div class="reagent-submit-modal" id="samplesubmit">
    <div class="reagent-submit-modal-content">
        <a href="" class="modal__close">Close</a>
        {% if messages %}
        {% for message in messages %}
        {% if 'error' in message.tags %}
        <div class="error-message" style="margin-left: 15%; margin-top: 0;">
            <p>{{message}}</p>
        </div>
        {% endif %}
        {% if 'success' in message.tags %}
        <div class="success-message" style="margin-left: 15%; margin-top: 0;">
            <p>{{message}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <span class="registration-header" style="margin-left:25px">Sample Log-In Form</span>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="reagent-submit-left">
                {{form.sample_name}}
                {{form.sample_description}}
                {{form.tracking_number}}
                <span class="reagent-span">Sample Expiry</span>
                {{form.expiration_date}}
            </div>
            <div class="reagent-submit-right">
                {{form.sample_quantity}}
                {{form.sample_volume}}
                {{form.sample_type}}
                <input type="text" class="reagent-input" placeholder="Username" name="username" autocomplete="off">
                <input type="password" class="reagent-input" placeholder="Password" name="password">
                <input type="submit" Value="Submit" class="reagent-submit">
            </div>
        </form>
    </div>
</div>
<!--<div class="sample-submit-modal" id="samplesubmit">
    <div class="sample-submit-modal-content">
        <a href="{% url 'Sample' %}" class="modal__close">Close</a>
        <span class="registration-header">Sample Log-In Form</span>
        <form action="{% url 'Sample' %}" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" Value="Add Sample" class="registration-submit">
        </form>
    </div>
</div>-->
{% load static %}
<script src="{% static 'FreeLims/app.js' %}"></script>
{% endblock %}
