<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="text-align: center;">
    <h1 style="font-family: karrikregular; color: #2b6777; font-size: 45px; padding: 0; margin-bottom: 0;">LIMa</h1>
    <h2 style="font-family: karrikregular; color: #2b6777; margin-top: 0px; font-style: italic;">Growth Without a Cost!</h2>
    <div style="margin-left: 15%;
    margin-top: 20px;
    display: block;
    position: relative;
    min-width: 200px;
    max-width: 700px;
    width: auto;
    height: 30px;
    color: black;
    border-radius: 25px;
    background: #66BEFF;
    border-color: #0073ff;
    text-align: center;
    border-style: solid;">
        <p style="margin-top: 5px;
    font-family: Arial;"><strong>This is Your New Secret Key. If You Did Not Request a New Secret Key See Below</strong></p>
    </div>
</div>
<p> Below is information regarding your new Secret Key</p>
<p>Your new Secret Key is: <strong>{{secretKey}}</strong></p>
<p>Please keep this key in a secure location and never share it with anyone. This key will help you recover your account and change your password!</p>
<p>If this email was sent in error or you did not request a new Secret Key please follow this link and use the Subject <strong> {Secret Key Requested in Error}</strong>: <a style="color: black;
    text-decoration: none; color: blue; border-bottom: 1px solid;" href="http://127.0.0.1:8000/#contact">Contact Form</a></p>
<p> Thank You,</p>
<p>GlobaLIMS</p>
</body>
</html>