{% extends 'FreeLims/base.html' %}
{% block content %}
{% load static %}
<div class="settings-header">
    <h1>Settings</h1>
    <!--<div style="border-bottom: 1px solid black; width: 50%; margin-left: 25%;"></div>-->
</div>
<div class="settings-main-container">
    <div class="settings-left-container">
    <ul class="settings-ul">
      <li class="settings-ul-li">
        <input type="checkbox" id="list-item-1">
          <label for="list-item-1" class="settings-label"><img src="{% static 'FreeLims/profile.svg' %}" class="Icon-paper" style="filter: invert(0%); display: inline-block;" /><h3 style="display: inline-block;">Update Personal Information</h3></label>
        <ul>
          <form method="POST">
          {% csrf_token %}
          {{profileForm.first_name}}
          {{profileForm.last_name}}
          {{profileForm.empl_ID}}
          {{profileForm.role}}
          {{profileForm.department}}
          {{profileForm.location}}
          <input type="submit" value="Submit" name="updateProfile" class="settings-info-btn">
          </form>
        </ul>
      </li>
      <li class="settings-ul-li">
        <input type="checkbox" id="list-item-2">
          <label for="list-item-2" class="settings-label"><img src="{% static 'FreeLims/lock.svg' %}" class="Icon-paper" style="filter: invert(0%);"/><h3 style="display: inline-block;">Change Password</h3></label>
        <ul>
          <form method="POST">
          {% csrf_token %}
          {{secretKeyForm}}
          {{pass_form}}
          <input type="submit" value="Submit" name="updatePassword" class="settings-info-btn">
          </form>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="list-item-3">
        <label for="list-item-3" class="settings-label"><img src="{% static 'FreeLims/key.svg' %}" class="Icon-paper" style="filter: invert(0%);"/><h3 style="display: inline-block;">Request Secret Key</h3></label>

          <ul>
            <li>klklk</li>
            <li>Source Code Pro</li>
            <li>Droid Sans Mono</li>
            <li>Ubuntu Mono</li>
            <li>Cousine</li>
          </ul>
      </li>
      <li>
        <input type="checkbox" id="list-item-4">
        <label for="list-item-4" class="settings-label"><img src="{% static 'FreeLims/exclamation.svg' %}" class="Icon-paper" style="filter: invert(0%);"/><h3 style="display: inline-block;">Report a Problem</h3></label>
        <ul>
          <li>Inconsolata</li>
          <li>Source Code Pro</li>
          <li>Droid Sans Mono</li>
          <li>Ubuntu Mono</li>
          <li>Cousine</li>
        </ul>
      </li>
    </ul>
    </div>
   {% if profileUpdate %}
    <div class="settings-right-container">
      <p>{{profileUpdate}}</p>
    </div>
    {% endif %}
</div>


{% endblock %}