{% extends 'FreeLims/base.html' %}
{% block content %}
<div class = "Table-attributes"> <!--Table attributes -->
    <div class="Search-span">
        <form method="get">
            <input type="submit" value="Search" class="sample-modal-btn-text-lg">
            {% csrf_token %}
            {{myfilter.form.tracking}}
            <a class="clear-btn" href="{% url 'Testing' %}">&#8855</a>
        </form>

    </div>
    <div class="Table-attributes-Nav-list">
        <ul class="Table-attributes-ul">
            <!--<li class = "Table-attributes-Nav-bar">
                <input type="submit" value="Delete Sample" id="Delete_Sample" class="trigger">
            </li> -->
            <li class = "Table-attributes-Nav-bar">
                <button class="sample-modal-btn">
                    <a href ="{% url 'Testing' %}" class="sample-submit-text">Clear Table Filter</a>
                </button>
            </li>
            <li class = "Table-attributes-Nav-bar"> <!--DropDown for Nav-->
                <div class="nav-dropdown"> <!--Dropdown class-->
                    <button class="sample-modal-btn-text">Navigation</button> <!--Button to Activate dropdown-->
                    <div class="nav-dropdown-content"> <!--DropDown Content-->
                        <a href="{% url 'Sample' %}">Sample Log-In</a>
                        <a href="{% url 'Results' %}">Result Reporting</a>
                        <a href="{% url 'Trending' %}">Result Trending</a>
                        <a href="{% url 'Inventory' %}">Chemical Inventory</a>
                        <a href="{% url 'Method' %}">Method</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="table-container">
    <div class=“sample-tbl-container">
        <table class=“sample-table”>
            <thead>
            <tr bgcolor="#BACDDE">
              <th>Sample Name</th>
              <th>Description</th>
              <th>Tracking Number</th>
              <th>Volume & Size</th>
              <th>Expiry</th>
                <th>logged Date</th>
                <th>Logged By</th>
                <th>Initiate Sample</th>
            </tr>
          </thead>
        {% csrf_token %}
        {% for sample in samples %}
            {% if sample.initiated == False %}
          <tbody>
            <tr>
                <td>{{ sample.sample_name}}</td>
                <td>{{sample.sample_description}}</td>
                <td>{{sample.tracking_number}}</td>
                <td>{{sample.sample_quantity}}x{{sample.sample_volume}}</td>
                <td>{{sample.expiration_date|date:"Y-m-d"}}</td>
                <td >{{sample.logged_date|date:"Y-m-d"}}</td>
                <td>{{sample.logged_by}}</td>
                <td>
                    <button class="sample-initiation-btn">
                        <a class="sample-initiation-link" href="{% url 'Initiate_sample' sample.id %}#initiatesample" >Initiate Sample</a>
                    </button>
                </td>

            </tr>
          </tbody>
            {% endif %}
        {% endfor %}
    </table>
  </div>
</div>
<div class="initiation-submit-modal" id="initiatesample">
    <div class="initiation-submit-modal-content">
        <a href="{% url 'Testing' %}" class="modal__close">Close</a>
        <span class="registration-header">Sample Initiation Form</span>
        <form action="" method="POST">
            {% csrf_token %}
            <span class="initiate-span">Initiate Sample</span>
            {{form.initiated}}
            {{form.sample_test}}
            <input type="submit" Value="Submit" class="registration-submit">
            <input type="reset" value="Clear Input Fields" class="registration-submit">
        </form>
    </div>
</div>
{% endblock %}